.HomeStyle{
    z-index: -1;
    display: block;
    padding-top: 80px;
    padding-left: 50px;
    /* overflow:scroll; */
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    /* background-color: var(--bg); */
    color: var(--fontColor);
    display: flex;
    justify-content: center;
}
.social{
    position: fixed;
    top: 0;
    z-index: 200;
    /* top: 40vh; */
    /* bottom: -25vh; */
    margin: auto;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-grow: 5;
    /* border: 1px rgb(255, 255, 255) solid; */
}
.social>div{
    cursor: pointer;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    /* background-color: springgreen; */
    cursor: url('../ImgIco/Vector3.svg'), auto;
}
.social>div>a{
    color: var(--line);
    cursor: url('../ImgIco/Vector3.svg'), auto;
}
.social>div>a:hover{
    color: var(--border);
}
.social::after{
    margin-left: 25px;
    /* border: 1px solid red; */
    margin-top: 5px;
    content: "";
    width: 1px;
    height: 100px;
    background-color: var(--fontColor);
}
.homeBody{
    /* margin-left: 10%; */
    flex-grow: 10;
    margin-top: 100px;
    font-family: "Ubuntu";
    /* line-height: 1.1; */
    width: 80%;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 4px solid black; */
}
.mynameis{
    color: var(--border);
    font-weight: bold;
    /* border: 1px solid red; */

}
.Dharmveer{

    line-height: 1.2;
    font-size: 80px;
}
.Ibuild{
    font-weight: bold;
    font-size: 75px;
    color:#9A9A9A;
}
.LittlAbo{
    color: var(--smallfont);
    width: 80%;
}

.getin>input{
    margin: auto;
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid #00FFC2;
    color: var(--fontColor);
    font-weight: bold;
}
.getin>input:hover{
    cursor: url('../ImgIco/Vector3.svg'), auto;

}
.qut{
    /* transform: translateY(100px); */
    transform: rotateZ(-90deg) translateY(100px);
    height: 30px;
    border: 1px solid yellow;
    white-space: nowrap;
}
.crossLink2{
    text-align: right;
}
.crossLink:hover{
    color: var(--border);
}
.formfild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputfild{
    width: 80%;
    animation: inputAni 1s ease-in-out alternate;
}
@keyframes inputAni {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateY(0%); 
    }
}
.inputfild2{
    display: none;
}


.inputfild>textarea{
    height: 30%;
}

@media screen and (max-width: 1000px) {
    .inputfild2{
        display: none;
    }
    .inputfild{
        width: 90%;
    }
    .Dharmveer{
        font-size: 50px;
    }
    .Ibuild{
        font-size: calc(75px - 30px);
    }
    .LittlAbo{
        text-align: center;
        width: 100%;
    }
    .HomeStyle{
        margin-top: 40px;
        text-align: center;
    }
    .homeBody{
        margin-top: 10px;
    }
}
